<style>
  select {
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.5);
    padding: 0px;
    margin-left: 5px;
    margin-top: 5px;
  }

  select option{
    background-color: transparent !important;
    border: 1px solid #e4e4e4;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .test_result_0{
    background-color: grey;
  }
  .test_result_1{
    background-color: #00aa55;
  }
  .test_result_2{
    background-color: #f59e00 ;
  }
  .test_result_3{
    background-color: #8b0000;
  }
</style>
<div id="last_update" >
  Last update: <%= @last_update %>
</div>
<div id="filter" >
 <%= select_tag(:status, options_for_select(IssueStatus.pluck(:name, :id)), include_blank: true) %>
</div>
<div class="autoscroll">
  <table class="list issues odd-even" >
    <thead>
    <tr>
      <th style="min-width: 125px;">Issue</th>
      <th style="min-width: 125px;">Assigné</th>
      <% columns = ActiveFilePlanColumn::ALL_COLUMNS %>
      <% columns.each do |column| %>
          <% if @active_columns.include?(column) %>
              <th><%= l(column) %></th>
          <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @issues.each do |issue| %>
        <% plan = issue.test_plan || TestPlan.new(issue_id: issue.id) %>
        <tr class="issue_test_plan <%= cycle('odd', 'even') %> issue_status_<%= issue.status_id %>"   data-issueid="<%= issue.id %>">
          <td><%= "[#{issue.status}]" %> <%=link_to_issue issue %></td>
          <td><%= link_to_user issue.assigned_to %></td>
          <% columns.each do |column| %>
              <% if @active_columns.include?(column) %>
                  <% if column.in?(['url', 'client_note']) %>
                      <td>
                        <%= text_field_tag column, plan.send(column) %>
                      </td>
                  <% else %>
                      <td class="test_result_<%= plan.send(column) %> <%= column %>">
                        <%= select_tag(column, options_for_select(TestPlan::STATUS, selected: plan.send(column)), {include_blank: true}) %>
                      </td>
                  <% end %>
              <% end %>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
      $('#status').on('change', function(){
          val = $(this).val();
          $('.issue_test_plan').hide()
          $('.issue_status_'+ val).show()
      })
    $('.issue_test_plan').find('select').on('change', function(e){
      issue = $(this).parents('.issue_test_plan').data('issueid');
      type = $(this).attr('id');
      value = $(this).val();
      $.getScript('<%= create_or_update_project_file_test_index_path(@project, format: :js) %>'+ '?issue_id='+issue+ "&type=" +type+ "&value="+ value);
    })
    $('.issue_test_plan').find('input').on('change', function(e){
      issue = $(this).parents('.issue_test_plan').data('issueid');
      type = $(this).attr('id');
      value = $(this).val();
      $.getScript('<%= create_or_update_project_file_test_index_path(@project, format: :js) %>'+ '?issue_id='+issue+ "&type=" +type+ "&value="+ value);
    })
  })
</script>
